{% extends 'v2t_base.html' %}

{% block body %}
<form action="{{ url_for('index') }}" method="get">
{% if not data.dataset %}
  <div class="home-class">
      <p>Select a dataset:</p>
      <select name="dataset">
      {% for dataset in data.datasets %}
      <option value="{{ dataset }}">{{ dataset }}</option>
      {% endfor %}
      </select>
  </div>
{% else %}
  <div class="home-class">
      <p>Dataset:</p>
      <select name="dataset">
      <option value="{{ data.dataset }}">{{ data.dataset }}</option>
      </select>
      <p>Select Experiment:</p>
      <select name="exp">
      {% for exp in data.exps %}
      <option value="{{ exp }}">{{ exp }}</option>
      {% endfor %}
      </select>
      {% if data.dataset == 'msrvtt' %}
      <p>Select Category:</p>
      <select name="category">
      {% for cat in data.categories %}
      <option value="{{ cat }}">{{ cat }}</option>
      {% endfor %}
      </select>
      {% endif %}
  </div>
{% endif %}    
<input type="submit" value="Submit">
</form>    

{% endblock %}

{% block js %}
  {% if active_url %}
    $('#{{ active_url }}').addClass('active');
  {% else %}
  $('#users-url').addClass('active');
  {% endif %}
{% endblock %}
