{% extends 'v2t_base.html' %}
{% block body %}

<div class="dataframe">
<h1>Simple Line Chart</h1>
<!-- bar chart canvas element -->
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">The chart is displaying a simple line chart.</p>
</div>

<script>
      // Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;
 
var data = {
    labels: {{ labels }},
    datasets: [
        {
            label: "Blue",
            backgroundColor: "blue",
            data: [3,7,4,5]
        },
        {
            label: "Red",
            backgroundColor: "red",
            data: [4,3,5,6]
        },
        {
            label: "Green",
            backgroundColor: "green",
            data: [7,2,6,7]
        }
    ]
};

// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");
 
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        barValueSpacing: 20,
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                }
            }]
        }
    }
});
    </script>


{% endblock %}

{% block js %}
  {% if active_url %}
    $('#{{ active_url }}').addClass('active');
  {% else %}
  $('#videos-url').addClass('active');
  {% endif %}
  
{% endblock %}
